.card__like-btn {
  padding: 0;
  display: flex;
  background-image: url(../../../images/like_unliked.svg);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: visible;
  width: 22px;
  height: 19px;
  transition: opacity .4s;
}
.card__like-btn:hover {
  opacity: 0.5;
}
.card__like-btn:active {
  opacity: 1;
  background-image: url(../../../images/like_liked.svg);
}