.popup__card-img {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  box-sizing: border-box;
  
}
@media (max-width: 1200px) {
  .popup__card-img  {
    width: 100%;
  }
}
