.popup__card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  box-sizing: border-box;
  max-width: 800px;
  object-fit: contain;
}
@media (max-width: 1200px) {
  .popup__card-img  {
    max-width: 100%;
  }
}
