.header__burger {
  display: none;
  width: 24px;
  height: 21px;
  background-image: url(../../../images/burger.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition: opacity .4s;
  cursor: pointer;
}
.header__burger:hover {
  opacity: .6;
}
.header__burger_active {
  background-image: url(../../../images/cross.svg);
}
@media (max-width: 680px) {
  .header__burger {
    display: block;
  }
}
